main:has(.schedule){
    background: url('../img/lines-light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}
.stage-selection{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding-inline: 16px;
    padding-block: 32px;
}
.stage-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #333E481A;
    height: 96px;
    width: 100%;
    padding-block: 8px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    &:hover{
        background-color: var(--gray);
    }
    &.active, &.active:hover{
        background-color: var(--orange);
        color: #fff;
    }
}
.stage{
    color: #fff;
    background-color: #555;
    padding: 2px 4px;
    font-size: 12px;
}
.stage-type{
    font-weight: bold;
    font-size: 1.21rem;
    transform: scaleY(1.15);
}

.schedule-container{
    width: 80%;
    margin-inline: auto;
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.match-day{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 100%;
    & h2{
        text-transform: uppercase;
        font-size: 2.25rem;
        color: #444;
        letter-spacing: -0.04em;
    }
}
.matches-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.match{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding-right: 16px;
    height: 64px;
}
.region-tag{
    background-color: var(--dark);
    color: #fff;
    height: 100%;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    & div{
        transform: rotateZ(-90deg);
        padding-block: 8px;
        font-weight: bold;
    }
}
.match-up{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    gap: 16px;
    height: 100%;
    width: 700px;
}
.team{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    gap: 4px;
    align-self: center;
    justify-self: end;
    &:last-child{
        justify-self: start;
    }
    & img{
        height: 32px;
        width: 32px;
        object-fit: contain;
    }
}
.score{
    color: #000;
    font-size: 2rem;
    display: flex;
    gap: 4px;
    justify-self: center;
    align-self: center;
    & span.loss{
        color: #888;
    }
}
.match-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    & span:first-child{
        color: #777;
        font-weight: bold;
    }
    & span:nth-child(2){
        color: var(--orange);
        text-transform: uppercase;
        font-size: 14px;
    }
    & span:last-child{
        background-color: var(--dark);
        color: #fff;
        font-size: 12px;
        padding: 2px 16px;
    }
}