.page{
  margin-top: 128px;
}
.tabs-container{
  width: 100vw;
  background-color: var(--dark);
  color: white;
  min-height: 64px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 256px;
}
.tab{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding-inline: 16px;
  padding-block: 8px;
  min-width: 128px;
  height: 100%;
  border-right: 1px solid var(--orange);
  border-left: 1px solid var(--orange);
  cursor: pointer;
  user-select: none;
  & img{
    height: 20px;
  }
  & span{
    font-size: 20px;
    font-weight: bold;
    transform: scaleY(1.1);
  }
  &.active{
    background-color: white;
    color: var(--dark);
  }
}
.page-header{
  display: flex;
  align-items: end;
  gap: 32px;
  padding-left: 256px;
  padding-bottom: 16px;
  & h2{
    color: var(--dark);
    font-size: 32px;
    font-weight: 100;
  }
  & span{
    color: gray;
    font-size: 18px;
  }
}