@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-BlackItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

:root{
  --orange: rgb(240 99 20);
  --dark: #222;
  --gray: #ddd;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body{
  /* prompt für das AI generierte Background Images */
  /* a modern abstract background image with orange, white and gray geometric shapes with a top left to bottom right dynamic and white as the main background color */
  /* background-color: white;
  background-image: url("./img/backgroundImg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover; */
  color: var(--dark);
}

button.primary{
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
}